coredataprovider*.json
.sonar
*_valid.html
*_invalid.html
\.coverage
test_steps.json
*.db
*.pyc
*.sqlite3
*.swp
*.swo
*.db
local_settings.py
*.db
*.sqlite
tags
composer.lock
.AppleDouble
:2e_*
._*
.DS_Store
.idea*
*.log
config/*
media/*
static/*
vendors/*
bower_components/*
node_modules/
html-dist/*
assets/*
.vagrant/*
playbooks/vagrant.retry
virtualenv/*
