<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wobbuild - Wobbly build system</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="https://dansup.github.io/bulma-templates/css/grid-gallery.css">
</head>
<body>
  <div class="container section">

    <nav class="nav section" id="top">
      <div class="container">
        <div class="nav-left">
          <h1>
            WobBuild
          </h1>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-tab is-active">
            Builds
          </a>
          </span>
        </div>
      </div>
    </nav>

    <div class="columns section">

      <div class="column is-12">
        <div class="title">Builds by Project</div>
      </div>

    </div>

    <div class="columns">
      {% block projects %}{% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Wobbuild</strong> by Ross Crawford-d'Heureuse. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
        <p>
          <a class="icon" href="https://github.com/rosscdh/wobbuild">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
