{% extends 'base.html' %}

{% block body %}
{% raw %}

<div id="container">

</div>


<div class="row">
    <div class="col-md-12">
      <h2>Latest Builds</h2>
    </div>

    <div class="row">

    </div>
</div>

<div id="modal-logs" class="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}

{% block js %}
{% raw %}

<script type="text/babel">
  var destination = document.querySelector("#container");

  var Build = React.createClass({
  render: function() {
    return (
      <div>{this.props.obj.slug}</div>
    );
  }
  });

  var Builds = React.createClass({
    getInitialState: function() {
        return { 'builds': [] };
    },
    componentDidMount: function() {
      axios.get( '/api/builds' )
        .then(res => {

          var builds = res.data.map(obj => <Build key={obj.slug} obj={obj}/>);

          this.setState({ 'builds': builds });
        });
    },
    render: function() {
      return (<div>{this.state.builds}</div>)
    }
  });

  function App() {
    return (
      <div>
        <Builds />
      </div>
    );
  }

  ReactDOM.render(
    <ReactRouter.Router history={ReactRouter.hashHistory}>
    <ReactRouter.Route path="/" component={App}>

    </ReactRouter.Route>
    </ReactRouter.Router>,
    destination
  );
</script>

{% endraw %}
{% endblock %}
