{% extends 'base.html' %}

{% block body %}
<div class="row">
      <div class="col-md-12">
        <h2>Panels</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        
        <div class="bs-component">
          {% for build in object_list %}
            <div class="panel panel-{% if build.status == 'success' %}success{% elif build.status == 'created' %}info{% elif build.status == 'failure' %}danger{% else %}warning{% endif %}">
              <div class="panel-heading">
                <h3 class="panel-title">{{ build.status }} <small>{{ build.dateof }}</small></h3>
              </div>
              <div class="panel-body">
              {{build.slug}}
                <p><small>{{ build.pipeline.repo.url }}@{{ build.pipeline.repo.branch }}</small></p>
                <a href="javascript:void(0)" class="btn btn-raised btn-info">View Log<div class="ripple-container"></div></a>
                <a href="javascript:void(0)" class="btn btn-raised btn-danger">View Failed Log<div class="ripple-container"></div></a>
              </div>
            </div>
          {% endfor %}

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Panel success</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Panel warning</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bs-component">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Panel danger</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Panel info</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var stdout_logs = {};
var stderr_logs = {};
</script>
{% endblock %}

{% block projects %}
<div class="column is-12">
  {% for row in project_list %}
    <h1 class="title">{{ row.name }}</h1>
    <div class="box">

      {% for build in row.builds %}
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <span class="icon is-large"><i class="fa fa-{{ build.status_icon }}"></i></span>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
           <div class="notification {% if build.status == 'success' %}is-success{% else %}is-danger{% endif %}">
              {{ build.status }} <small style="float:right;">{{ build.dateof }}</small>
            </div>
            <progress class="progress is-success" value="60" max="100">60%</progress>
            <p>
              <a href="{{ build.pipeline.repo.url }}" target="_NEW"><strong>{{ build.pipeline.repo.url }}@{{ build.pipeline.repo.branch }}</strong></a>
              <p>
                <b>Before steps</b>
                <ol>
                {% for s in build.step_logs.before_steps %}
                  <li>
                    <b>-</b> <em>{{ s.step }}</em>:<br/>{# <code>{{ s.result }}</code><br/>#}<small><em>took:</em> {{ s.took }}</small> success: {{ s.is_successful }} return_code: {{ s.return_code }}
                    {% if not s.is_successful %}
                      <textarea class="is-24 textarea">{{ s.error|safe }}</textarea>
                    {% endif %}
                  </li>
                {% endfor %}
                </ol>
                <b>Build steps</b>
                <ol>
                {% for s in build.step_logs.build_steps %}
                  <li>
                    <b>-</b> <em>{{ s.step }}</em>:<br/>{# <code>{{ s.result }}</code><br/>#}<small><em>took:</em> {{ s.took }}</small> success: {{ s.is_successful }} return_code: {{ s.return_code }}
                    {% if not s.is_successful %}
                      <textarea class="is-24 textarea">{{ s.error|safe }}</textarea>
                    {% endif %}
                  </li>
                {% endfor %}
                </ol>
                <b>Publish steps</b>
                <ol>
                {% for s in build.step_logs.publish_steps %}
                  <li>
                    <b>-</b> <em>{{ s.step }}</em>:<br/>{# <code>{{ s.result }}</code><br/>#}<small><em>took:</em> {{ s.took }}</small> success: {{ s.is_successful }} return_code: {{ s.return_code }}
                    {% if not s.is_successful %}
                      <textarea class="is-24 textarea">{{ s.error|safe }}</textarea>
                    {% endif %}
                  </li>
                {% endfor %}
                </ol>
                <b>Deploy steps</b>
                <ol>
                {% for s in build.step_logs.deploy_steps %}
                  <li>
                    <b>-</b> <em>{{ s.step }}</em>:<br/>{# <code>{{ s.result }}</code><br/>#}<small><em>took:</em> {{ s.took }}</small> success: {{ s.is_successful }} return_code: {{ s.return_code }}
                    {% if not s.is_successful %}
                      <textarea class="is-24 textarea">{{ s.error|safe }}</textarea>
                    {% endif %}
                  </li>
                {% endfor %}
                </ol>
                <b>Final steps</b>
                <ol>
                {% for s in build.step_logs.final_steps %}
                  <li>
                    <b>-</b> <em>{{ s.step }}</em>:<br/>{# <code>{{ s.result }}</code><br/>#}<small><em>took:</em> {{ s.took }}</small> success: {{ s.is_successful }} return_code: {{ s.return_code }}
                    {% if not s.is_successful %}
                      <textarea class="is-24 textarea">{{ s.error|safe }}</textarea>
                    {% endif %}
                  </li>
                {% endfor %}
                </ol>
              </p>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="level-item">
                {{ build.slug[:8] }}
              </a>
            </div>
          </nav>
        </div>
      </article>
      {% endfor %}
    </div>
  {% endfor %}
</div>


</div>
{% endblock %}

 2f6b61b0 visit repo
branch: master
[u'publish_steps', u'system', u'build_steps', u'before_steps', u'final_steps', u'deploy_steps'] 