{% extends 'base.html' %}

{% block projects %}
<div class="column is-12">
  {% for row in project_list %}
  <div class="box">
    {% for build in row.builds[:3] %}
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <span class="icon is-large"><i class="fa fa-{{ build.status_icon }} is-success"></i></span>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
         <div class="notification is-success">
            {{ row.name }}
          </div>
          <p>
            <a href="{{ build.pipeline.repo.url }}" target="_NEW"><strong>{{ build.pipeline.repo.url }}@{{ build.pipeline.repo.branch }}</strong></a> <small style="float:right;">{{ build.dateof }}</small>
            <p>
              <em>Before steps</em>
              <ol>
              {% for s in build.step_logs.before_steps %}
                <li><b>-</b> <em>{{ s.step }}</em>:<br/><code>{{ s.result }}</code> {{ s.took }}</li>
              {% endfor %}
              </ol>
              <em>Build steps</em>
              <ol>
              {% for s in build.step_logs.build_steps %}
                <li><b>-</b> <em>{{ s.step }}</em>:<br/><code>{{ s.result }}</code></li>
              {% endfor %}
              </ol>
              <em>Publish steps</em>
              <ol>
              {% for s in build.step_logs.publish_steps %}
                <li><b>-</b> <em>{{ s.step }}</em>:<br/><code>{{ s.result }}</code></li>
              {% endfor %}
              </ol>
              <em>Deploy steps</em>
              <ol>
              {% for s in build.step_logs.deploy_steps %}
                <li><b>-</b> <em>{{ s.step }}</em>:<br/><code>{{ s.result }}</code></li>
              {% endfor %}
              </ol>
              <em>Final steps</em>
              <ol>
              {% for s in build.step_logs.final_steps %}
                <li><b>-</b> <em>{{ s.step }}</em>:<br/><code>{{ s.result }}</code></li>
              {% endfor %}
              </ol>
            </p>
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <a class="level-item">
              {{ build.slug[:8] }}
            </a>
          </div>
        </nav>
      </div>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</div>


</div>
{% endblock %}

 2f6b61b0 visit repo
branch: master
[u'publish_steps', u'system', u'build_steps', u'before_steps', u'final_steps', u'deploy_steps'] 