{% extends 'base.html' %}

{% block projects %}
<div id="list" class="pure-u-1">
{% for row in project_list %}
    <div class="email-item email-item-selected pure-g">
        <div class="pure-u">
            <img width="64" height="64" alt="Tilo Mitra&#x27;s avatar" class="email-avatar" src="/img/common/tilo-avatar.png">
        </div>

        <div class="pure-u-3-4">
            <h5 class="email-name">{{ row.name }}</h5>
            <h4 class="email-subject">{{ row.data['url'] }}</h4>
            <p class="email-desc">
                <div id="" class="pure-u-1">
                {% for build in row.builds %}
                    <div class="email-item email-item-selected pure-g">
                        <div class="pure-u">
                            <img width="64" height="64" alt="Tilo Mitra&#x27;s avatar" class="email-avatar" src="/img/common/tilo-avatar.png">
                        </div>

                        <div class="pure-u-3-4">
                            <h5 class="email-name">{{ build.dateof }}</h5>
                            <h4 class="email-subject">{{ build.slug }}</h4>
                            <p class="email-desc">
                                
                                {{ build.pipeline }}
                                {{ build.logs }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}