description "Gunicorn application server handling Colorglam"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
setuid www-data
setgid www-data
chdir {{ document_root }}/{{ application_name }}

env PYTHONPATH={{ document_root }}/{{ application_name }}:{{ document_root }}/virtualenv

#exec {{ document_root }}/virtualenv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 glam.wsgi:application
